@font-face {
    font-family:'font titulo';
    src: url(COCOGOOSELETTERPRESS\ TRIAL.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    height: 100vh;
}
header {
    background-color: #0a0907;
    text-align: center;
    font-family: 'font titulo', Arial, sans-serif;
    font-size: 1.5em;
    color: white;
}
p {
    margin: 0px;
}
img {
    max-width: 70%;
}
main {
    background-image: url(background.jpeg);
    color: white;
    height: 100vh;
    background-size: cover;
}
ul {
    padding: 30px;
    list-style-type: none;
}
strong {
    font: normal 3em 'font titulo', sans-serif;
    padding-right: 30px;
}